<a href="https://colab.research.google.com/github/AshbeeKim/Kaggle_task/blob/main/taxi_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
from google.colab import drive  
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
from matplotlib import pyplot as pltm
%matplotlib inline
import sklearn
# import mglearn
import graphviz
import warnings
warnings.filterwarnings('ignore')
# import statsmodels.api as sm

# 최대 줄 수 설정
pd.set_option('display.max_rows', 1500)
# 최대 열 수 설정
pd.set_option('display.max_columns', 1500)
# 표시할 가로의 길이
pd.set_option('display.width', 1500)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Task/nyctaxitripduration/train.csv')
tstdata = pd.read_csv('/content/drive/MyDrive/Task/nyctaxitripduration/test.csv')
spSubms = pd.read_csv('/content/drive/MyDrive/Task/nyctaxitripduration/sample_submission.csv')

In [ ]:
train = data.copy()
test = tstdata.copy()
sS = spSubms.copy()

In [ ]:
print(train.info())
print(test.info())
print(sS.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  625134 non-null  object
 1   vendor_id           625134 non-null  int64
 2   pickup_datetime     625134 non-null  object
 3   passenger_count     625134 non-null  int64
 4   pickup_longitude    625134 non-null  float64
 5   pickup_latitude     625134 non-null  float64
 6   dropoff_longitude   625134 non-null  float64
 7   dropoff_latitude    625134 non-null  float64
 8   store_and_fwd_flag  625134 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             625134 non-null  object
 1   trip_duration  625134 non-null  int64
dtypes: int64(1), object(1)
memory usage: 9.5+ MB
None

결측치없음
object와 int, float이 섞여있는 형태

test에는 dropoff_datatime이 없음

dropoff_datetime을 맞춰야 하나? 우선은 train의 dropoff_datatime 버리고, duration을 예측해서 dropoff_datetime을 구해야 하나?

In [ ]:
train.pickup_datetime = pd.to_datetime(train.pickup_datetime)
train.dropoff_datetime = pd.to_datetime(train.dropoff_datetime)
train.trip_duration = pd.to_timedelta(train.trip_duration,unit='sec')

# import time
# train.dropoff_datetime[0]-train.pickup_datetime[0]

In [ ]:
print(train.shape)
print(test.shape)
print(sS.shape)

(1458644, 11)
(625134, 9)
(625134, 2)

In [ ]:
for rows in train.iloc[:]:
  print(rows)

id
vendor_id
pickup_datetime
dropoff_datetime
passenger_count
pickup_longitude
pickup_latitude
dropoff_longitude
dropoff_latitude
store_and_fwd_flag
trip_duration

In [ ]:
n=0
for do, pu, dt in zip(train.dropoff_datetime, train.pickup_datetime, train.trip_duration):
  print(do, type(do))
  print(pu, type(pu))
  print(dt, type(dt))
  # if do-pu==dt:
    # n+=1
# print(n)

Streaming output truncated to the last 5000 lines.
2016-01-01 01:50:09 <class 'str'>
690 <class 'int'>
2016-01-06 15:26:50 <class 'str'>
2016-01-06 15:12:36 <class 'str'>
854 <class 'int'>
2016-02-25 07:49:00 <class 'str'>
2016-02-25 07:30:20 <class 'str'>
1120 <class 'int'>
2016-06-20 19:04:28 <class 'str'>
2016-06-20 19:02:31 <class 'str'>
117 <class 'int'>
2016-05-10 13:06:03 <class 'str'>
2016-05-10 12:58:15 <class 'str'>
468 <class 'int'>
2016-02-13 03:43:07 <class 'str'>
2016-02-13 03:36:58 <class 'str'>
369 <class 'int'>
2016-03-27 20:19:48 <class 'str'>
2016-03-27 20:12:15 <class 'str'>
453 <class 'int'>
2016-05-19 20:56:49 <class 'str'>
2016-05-19 20:51:52 <class 'str'>
297 <class 'int'>
2016-04-18 20:27:50 <class 'str'>
2016-04-18 20:24:58 <class 'str'>
172 <class 'int'>
2016-04-11 21:25:18 <class 'str'>
2016-04-11 21:17:42 <class 'str'>
456 <class 'int'>
2016-05-02 22:21:09 <class 'str'>
2016-05-02 22:17:52 <class 'str'>
197 <class 'int'>
2016-06-16 10:03:01 <class 'str'>
2016-06-16 09:44:01 <class 'str'>
1140 <class 'int'>
2016-06-15 20:07:33 <class 'str'>
2016-06-15 19:50:28 <class 'str'>
1025 <class 'int'>
2016-04-06 17:10:00 <class 'str'>
2016-04-06 16:54:40 <class 'str'>
920 <class 'int'>
2016-02-04 09:34:05 <class 'str'>
2016-02-04 09:18:41 <class 'str'>
924 <class 'int'>
2016-05-15 15:04:42 <class 'str'>
2016-05-15 14:51:20 <class 'str'>
802 <class 'int'>
2016-04-07 23:15:08 <class 'str'>
2016-04-07 22:58:18 <class 'str'>
1010 <class 'int'>
2016-01-31 02:19:42 <class 'str'>
2016-01-31 02:04:48 <class 'str'>
894 <class 'int'>
2016-04-02 03:32:09 <class 'str'>
2016-04-02 03:14:18 <class 'str'>
1071 <class 'int'>
2016-01-29 06:55:09 <class 'str'>
2016-01-29 06:52:02 <class 'str'>
187 <class 'int'>
2016-02-19 07:57:53 <class 'str'>
2016-02-19 07:45:51 <class 'str'>
722 <class 'int'>
2016-06-05 18:39:18 <class 'str'>
2016-06-05 18:30:03 <class 'str'>
555 <class 'int'>
2016-06-05 19:33:00 <class 'str'>
2016-06-05 19:16:21 <class 'str'>
999 <class 'int'>
2016-06-13 09:15:17 <class 'str'>
2016-06-13 08:41:47 <class 'str'>
2010 <class 'int'>
2016-06-18 16:12:34 <class 'str'>
2016-06-18 15:53:06 <class 'str'>
1168 <class 'int'>
2016-01-21 14:24:48 <class 'str'>
2016-01-21 14:06:36 <class 'str'>
1092 <class 'int'>
2016-05-07 02:07:45 <class 'str'>
2016-05-07 02:02:31 <class 'str'>
314 <class 'int'>
2016-03-19 14:25:39 <class 'str'>
2016-03-19 14:13:13 <class 'str'>
746 <class 'int'>
2016-04-22 23:55:21 <class 'str'>
2016-04-22 23:45:45 <class 'str'>
576 <class 'int'>
2016-01-01 14:12:07 <class 'str'>
2016-01-01 14:05:17 <class 'str'>
410 <class 'int'>
2016-05-09 23:21:49 <class 'str'>
2016-05-09 23:07:31 <class 'str'>
858 <class 'int'>
2016-03-21 22:54:36 <class 'str'>
2016-03-21 22:48:08 <class 'str'>
388 <class 'int'>
2016-02-12 21:27:45 <class 'str'>
2016-02-12 21:10:54 <class 'str'>
1011 <class 'int'>
2016-05-25 16:50:54 <class 'str'>
2016-05-25 16:40:36 <class 'str'>
618 <class 'int'>
2016-02-12 09:49:52 <class 'str'>
2016-02-12 09:38:02 <class 'str'>
710 <class 'int'>
2016-02-01 10:43:09 <class 'str'>
2016-02-01 10:36:32 <class 'str'>
397 <class 'int'>
2016-05-26 16:08:24 <class 'str'>
2016-05-26 15:38:46 <class 'str'>
1778 <class 'int'>
2016-05-14 19:59:32 <class 'str'>
2016-05-14 19:50:02 <class 'str'>
570 <class 'int'>
2016-06-16 08:42:43 <class 'str'>
2016-06-16 08:38:50 <class 'str'>
233 <class 'int'>
2016-03-01 20:50:51 <class 'str'>
2016-03-01 20:41:02 <class 'str'>
589 <class 'int'>
2016-01-10 06:10:59 <class 'str'>
2016-01-10 06:03:10 <class 'str'>
469 <class 'int'>
2016-03-12 15:17:40 <class 'str'>
2016-03-12 14:58:44 <class 'str'>
1136 <class 'int'>
2016-02-17 13:47:05 <class 'str'>
2016-02-17 13:16:33 <class 'str'>
1832 <class 'int'>
2016-01-22 22:46:36 <class 'str'>
2016-01-22 22:38:21 <class 'str'>
495 <class 'int'>
2016-02-28 10:51:34 <class 'str'>
2016-02-28 10:35:50 <class 'str'>
944 <class 'int'>
2016-05-07 20:22:21 <class 'str'>
2016-05-07 19:50:33 <class 'str'>
1908 <class 'int'>
2016-05-14 10:57:53 <class 'str'>
2016-05-14 10:37:14 <class 'str'>
1239 <class 'int'>
2016-05-24 18:36:17 <class 'str'>
2016-05-24 18:22:38 <class 'str'>
819 <class 'int'>
2016-05-31 12:34:47 <class 'str'>
2016-05-31 12:22:04 <class 'str'>
763 <class 'int'>
2016-05-06 18:22:52 <class 'str'>
2016-05-06 18:01:01 <class 'str'>
1311 <class 'int'>
2016-01-18 01:53:48 <class 'str'>
2016-01-18 01:50:19 <class 'str'>
209 <class 'int'>
2016-05-09 14:15:00 <class 'str'>
2016-05-09 13:37:36 <class 'str'>
2244 <class 'int'>
2016-02-12 19:20:57 <class 'str'>
2016-02-12 19:07:51 <class 'str'>
786 <class 'int'>
2016-05-31 23:46:35 <class 'str'>
2016-05-31 23:26:59 <class 'str'>
1176 <class 'int'>
2016-03-17 23:02:30 <class 'str'>
2016-03-17 22:51:22 <class 'str'>
668 <class 'int'>
2016-03-16 09:26:37 <class 'str'>
2016-03-16 09:17:20 <class 'str'>
557 <class 'int'>
2016-01-13 22:39:08 <class 'str'>
2016-01-13 22:33:34 <class 'str'>
334 <class 'int'>
2016-06-20 20:23:39 <class 'str'>
2016-06-20 20:21:57 <class 'str'>
102 <class 'int'>
2016-01-31 02:36:04 <class 'str'>
2016-01-31 02:34:21 <class 'str'>
103 <class 'int'>
2016-03-25 21:54:10 <class 'str'>
2016-03-25 21:46:04 <class 'str'>
486 <class 'int'>
2016-04-02 00:37:48 <class 'str'>
2016-04-02 00:23:06 <class 'str'>
882 <class 'int'>
2016-04-14 21:01:27 <class 'str'>
2016-04-14 20:50:10 <class 'str'>
677 <class 'int'>
2016-06-26 21:42:27 <class 'str'>
2016-06-26 21:26:27 <class 'str'>
960 <class 'int'>
2016-04-15 09:06:32 <class 'str'>
2016-04-15 08:59:16 <class 'str'>
436 <class 'int'>
2016-05-11 23:07:08 <class 'str'>
2016-05-11 22:58:06 <class 'str'>
542 <class 'int'>
2016-05-02 02:53:13 <class 'str'>
2016-05-02 02:33:10 <class 'str'>
1203 <class 'int'>
2016-03-24 15:33:23 <class 'str'>
2016-03-24 15:17:59 <class 'str'>
924 <class 'int'>
2016-01-25 16:28:20 <class 'str'>
2016-01-25 16:28:15 <class 'str'>
5 <class 'int'>
2016-05-28 14:52:12 <class 'str'>
2016-05-28 14:26:01 <class 'str'>
1571 <class 'int'>
2016-02-13 13:52:05 <class 'str'>
2016-02-13 13:26:15 <class 'str'>
1550 <class 'int'>
2016-02-09 11:28:12 <class 'str'>
2016-02-09 11:27:53 <class 'str'>
19 <class 'int'>
2016-01-19 09:05:04 <class 'str'>
2016-01-19 08:53:44 <class 'str'>
680 <class 'int'>
2016-04-08 09:26:11 <class 'str'>
2016-04-08 09:15:12 <class 'str'>
659 <class 'int'>
2016-04-25 18:34:35 <class 'str'>
2016-04-25 18:22:52 <class 'str'>
703 <class 'int'>
2016-04-07 02:33:16 <class 'str'>
2016-04-07 02:28:12 <class 'str'>
304 <class 'int'>
2016-06-04 20:31:03 <class 'str'>
2016-06-04 20:22:11 <class 'str'>
532 <class 'int'>
2016-06-11 01:13:53 <class 'str'>
2016-06-11 00:54:52 <class 'str'>
1141 <class 'int'>
2016-03-18 20:36:43 <class 'str'>
2016-03-18 20:25:09 <class 'str'>
694 <class 'int'>
2016-03-30 08:24:31 <class 'str'>
2016-03-30 08:10:23 <class 'str'>
848 <class 'int'>
2016-01-06 08:50:28 <class 'str'>
2016-01-06 08:32:22 <class 'str'>
1086 <class 'int'>
2016-01-24 21:14:32 <class 'str'>
2016-01-24 21:07:36 <class 'str'>
416 <class 'int'>
2016-02-15 19:54:23 <class 'str'>
2016-02-15 19:40:38 <class 'str'>
825 <class 'int'>
2016-03-02 10:05:22 <class 'str'>
2016-03-02 09:52:42 <class 'str'>
760 <class 'int'>
2016-04-18 21:12:24 <class 'str'>
2016-04-18 21:10:35 <class 'str'>
109 <class 'int'>
2016-03-23 12:23:18 <class 'str'>
2016-03-23 12:16:32 <class 'str'>
406 <class 'int'>
2016-02-29 21:04:13 <class 'str'>
2016-02-29 20:56:07 <class 'str'>
486 <class 'int'>
2016-06-19 18:56:43 <class 'str'>
2016-06-19 18:48:40 <class 'str'>
483 <class 'int'>
2016-02-08 20:39:43 <class 'str'>
2016-02-08 20:32:48 <class 'str'>
415 <class 'int'>
2016-05-01 08:15:34 <class 'str'>
2016-05-01 08:01:21 <class 'str'>
853 <class 'int'>
2016-03-08 00:19:37 <class 'str'>
2016-03-08 00:09:06 <class 'str'>
631 <class 'int'>
2016-03-28 14:18:33 <class 'str'>
2016-03-28 14:14:58 <class 'str'>
215 <class 'int'>
2016-03-27 20:13:26 <class 'str'>
2016-03-27 19:51:24 <class 'str'>
1322 <class 'int'>
2016-03-08 08:35:24 <class 'str'>
2016-03-08 08:25:54 <class 'str'>
570 <class 'int'>
2016-04-10 02:23:45 <class 'str'>
2016-04-10 02:18:23 <class 'str'>
322 <class 'int'>
2016-04-16 17:57:27 <class 'str'>
2016-04-16 17:43:51 <class 'str'>
816 <class 'int'>
2016-06-22 09:26:17 <class 'str'>
2016-06-22 09:15:24 <class 'str'>
653 <class 'int'>
2016-05-14 23:42:12 <class 'str'>
2016-05-14 23:37:24 <class 'str'>
288 <class 'int'>
2016-04-03 02:19:29 <class 'str'>
2016-04-03 02:14:22 <class 'str'>
307 <class 'int'>
2016-06-11 23:24:07 <class 'str'>
2016-06-11 23:16:17 <class 'str'>
470 <class 'int'>
2016-06-22 11:13:13 <class 'str'>
2016-06-22 10:38:26 <class 'str'>
2087 <class 'int'>
2016-04-30 04:16:04 <class 'str'>
2016-04-30 04:06:12 <class 'str'>
592 <class 'int'>
2016-03-19 23:31:37 <class 'str'>
2016-03-19 23:18:50 <class 'str'>
767 <class 'int'>
2016-02-01 19:56:59 <class 'str'>
2016-02-01 19:39:24 <class 'str'>
1055 <class 'int'>
2016-01-13 20:55:10 <class 'str'>
2016-01-13 20:44:19 <class 'str'>
651 <class 'int'>
2016-06-09 14:18:08 <class 'str'>
2016-06-09 14:09:09 <class 'str'>
539 <class 'int'>
2016-06-14 19:16:17 <class 'str'>
2016-06-14 18:59:43 <class 'str'>
994 <class 'int'>
2016-06-07 20:09:06 <class 'str'>
2016-06-07 19:55:47 <class 'str'>
799 <class 'int'>
2016-03-05 22:19:43 <class 'str'>
2016-03-05 22:14:13 <class 'str'>
330 <class 'int'>
2016-04-25 08:46:19 <class 'str'>
2016-04-25 08:28:23 <class 'str'>
1076 <class 'int'>
2016-06-26 18:26:42 <class 'str'>
2016-06-26 18:22:56 <class 'str'>
226 <class 'int'>
2016-02-29 16:50:16 <class 'str'>
2016-02-29 16:45:33 <class 'str'>
283 <class 'int'>
2016-03-19 22:14:46 <class 'str'>
2016-03-19 21:44:31 <class 'str'>
1815 <class 'int'>
2016-03-29 18:52:38 <class 'str'>
2016-03-29 18:30:49 <class 'str'>
1309 <class 'int'>
2016-06-27 08:40:02 <class 'str'>
2016-06-27 08:09:06 <class 'str'>
1856 <class 'int'>
2016-06-17 23:29:21 <class 'str'>
2016-06-17 22:56:30 <class 'str'>
1971 <class 'int'>
2016-06-03 20:57:04 <class 'str'>
2016-06-03 20:45:45 <class 'str'>
679 <class 'int'>
2016-04-05 02:18:41 <class 'str'>
2016-04-05 01:45:05 <class 'str'>
2016 <class 'int'>
2016-01-15 13:13:57 <class 'str'>
2016-01-15 12:41:41 <class 'str'>
1936 <class 'int'>
2016-03-06 22:30:02 <class 'str'>
2016-03-06 22:21:14 <class 'str'>
528 <class 'int'>
2016-06-20 23:30:27 <class 'str'>
2016-06-20 23:10:50 <class 'str'>
1177 <class 'int'>
2016-01-08 08:33:00 <class 'str'>
2016-01-08 08:24:55 <class 'str'>
485 <class 'int'>
2016-05-21 23:19:28 <class 'str'>
2016-05-21 23:03:36 <class 'str'>
952 <class 'int'>
2016-05-01 00:44:03 <class 'str'>
2016-05-01 00:18:56 <class 'str'>
1507 <class 'int'>
2016-06-16 08:21:02 <class 'str'>
2016-06-16 08:14:33 <class 'str'>
389 <class 'int'>
2016-04-27 16:30:01 <class 'str'>
2016-04-27 16:17:58 <class 'str'>
723 <class 'int'>
2016-04-09 19:58:18 <class 'str'>
2016-04-09 19:44:41 <class 'str'>
817 <class 'int'>
2016-05-18 14:05:05 <class 'str'>
2016-05-18 13:57:43 <class 'str'>
442 <class 'int'>
2016-04-01 20:38:25 <class 'str'>
2016-04-01 20:30:06 <class 'str'>
499 <class 'int'>
2016-02-19 21:07:23 <class 'str'>
2016-02-19 20:55:05 <class 'str'>
738 <class 'int'>
2016-03-16 00:47:12 <class 'str'>
2016-03-16 00:13:07 <class 'str'>
2045 <class 'int'>
2016-05-15 14:12:56 <class 'str'>
2016-05-15 13:49:35 <class 'str'>
1401 <class 'int'>
2016-06-26 00:23:22 <class 'str'>
2016-06-26 00:11:41 <class 'str'>
701 <class 'int'>
2016-05-27 10:15:55 <class 'str'>
2016-05-27 09:59:16 <class 'str'>
999 <class 'int'>
2016-05-04 14:35:53 <class 'str'>
2016-05-04 14:30:05 <class 'str'>
348 <class 'int'>
2016-04-23 17:02:15 <class 'str'>
2016-04-23 16:47:21 <class 'str'>
894 <class 'int'>
2016-01-30 12:19:05 <class 'str'>
2016-01-30 11:57:58 <class 'str'>
1267 <class 'int'>
2016-03-19 06:35:09 <class 'str'>
2016-03-19 06:30:12 <class 'str'>
297 <class 'int'>
2016-01-08 14:24:39 <class 'str'>
2016-01-08 14:16:42 <class 'str'>
477 <class 'int'>
2016-04-27 14:34:24 <class 'str'>
2016-04-27 14:33:34 <class 'str'>
50 <class 'int'>
2016-05-28 22:41:42 <class 'str'>
2016-05-28 22:31:27 <class 'str'>
615 <class 'int'>
2016-05-12 06:55:07 <class 'str'>
2016-05-12 06:52:32 <class 'str'>
155 <class 'int'>
2016-06-30 10:24:02 <class 'str'>
2016-06-30 10:13:47 <class 'str'>
615 <class 'int'>
2016-05-14 02:59:41 <class 'str'>
2016-05-14 02:55:25 <class 'str'>
256 <class 'int'>
2016-05-14 20:13:48 <class 'str'>
2016-05-14 19:58:10 <class 'str'>
938 <class 'int'>
2016-01-10 10:53:59 <class 'str'>
2016-01-10 10:43:14 <class 'str'>
645 <class 'int'>
2016-01-21 01:32:19 <class 'str'>
2016-01-21 01:16:39 <class 'str'>
940 <class 'int'>
2016-01-06 18:53:42 <class 'str'>
2016-01-06 18:43:38 <class 'str'>
604 <class 'int'>
2016-05-04 20:36:01 <class 'str'>
2016-05-04 20:31:07 <class 'str'>
294 <class 'int'>
2016-02-24 19:32:32 <class 'str'>
2016-02-24 19:28:22 <class 'str'>
250 <class 'int'>
2016-01-03 02:12:10 <class 'str'>
2016-01-03 01:54:40 <class 'str'>
1050 <class 'int'>
2016-03-12 17:58:20 <class 'str'>
2016-03-12 17:26:05 <class 'str'>
1935 <class 'int'>
2016-05-11 22:47:50 <class 'str'>
2016-05-11 22:38:26 <class 'str'>
564 <class 'int'>
2016-01-01 00:22:14 <class 'str'>
2016-01-01 00:08:07 <class 'str'>
847 <class 'int'>
2016-01-14 18:16:34 <class 'str'>
2016-01-14 18:04:13 <class 'str'>
741 <class 'int'>
2016-01-30 02:08:52 <class 'str'>
2016-01-30 02:03:06 <class 'str'>
346 <class 'int'>
2016-02-12 19:12:38 <class 'str'>
2016-02-12 18:56:40 <class 'str'>
958 <class 'int'>
2016-06-15 00:23:10 <class 'str'>
2016-06-15 00:11:52 <class 'str'>
678 <class 'int'>
2016-06-04 19:57:36 <class 'str'>
2016-06-04 19:53:20 <class 'str'>
256 <class 'int'>
2016-05-20 13:17:35 <class 'str'>
2016-05-20 12:47:46 <class 'str'>
1789 <class 'int'>
2016-02-03 09:44:32 <class 'str'>
2016-02-03 09:29:40 <class 'str'>
892 <class 'int'>
2016-04-22 23:18:29 <class 'str'>
2016-04-22 22:58:33 <class 'str'>
1196 <class 'int'>
2016-05-06 15:11:07 <class 'str'>
2016-05-05 15:18:41 <class 'str'>
85946 <class 'int'>
2016-01-26 19:08:09 <class 'str'>
2016-01-26 18:47:18 <class 'str'>
1251 <class 'int'>
2016-04-08 16:28:27 <class 'str'>
2016-04-08 16:19:01 <class 'str'>
566 <class 'int'>
2016-05-01 13:07:21 <class 'str'>
2016-05-01 12:57:45 <class 'str'>
576 <class 'int'>
2016-05-25 00:50:06 <class 'str'>
2016-05-25 00:31:57 <class 'str'>
1089 <class 'int'>
2016-01-05 09:42:40 <class 'str'>
2016-01-05 09:34:09 <class 'str'>
511 <class 'int'>
2016-04-03 17:18:08 <class 'str'>
2016-04-03 17:00:45 <class 'str'>
1043 <class 'int'>
2016-03-11 20:44:44 <class 'str'>
2016-03-11 20:34:58 <class 'str'>
586 <class 'int'>
2016-05-26 00:35:01 <class 'str'>
2016-05-26 00:30:43 <class 'str'>
258 <class 'int'>
2016-01-18 12:00:21 <class 'str'>
2016-01-18 11:55:49 <class 'str'>
272 <class 'int'>
2016-04-07 21:35:25 <class 'str'>
2016-04-07 21:15:44 <class 'str'>
1181 <class 'int'>
2016-03-25 23:17:02 <class 'str'>
2016-03-25 22:54:29 <class 'str'>
1353 <class 'int'>
2016-03-18 20:36:53 <class 'str'>
2016-03-18 20:35:11 <class 'str'>
102 <class 'int'>
2016-04-29 20:02:57 <class 'str'>
2016-04-29 19:56:00 <class 'str'>
417 <class 'int'>
2016-06-09 14:33:44 <class 'str'>
2016-06-09 13:42:42 <class 'str'>
3062 <class 'int'>
2016-03-20 12:45:14 <class 'str'>
2016-03-20 12:13:22 <class 'str'>
1912 <class 'int'>
2016-01-10 13:56:16 <class 'str'>
2016-01-10 13:50:07 <class 'str'>
369 <class 'int'>
2016-04-10 01:37:58 <class 'str'>
2016-04-10 01:30:29 <class 'str'>
449 <class 'int'>
2016-02-18 23:00:06 <class 'str'>
2016-02-18 22:38:26 <class 'str'>
1300 <class 'int'>
2016-05-24 08:05:18 <class 'str'>
2016-05-24 07:57:12 <class 'str'>
486 <class 'int'>
2016-05-01 01:26:10 <class 'str'>
2016-05-01 01:09:46 <class 'str'>
984 <class 'int'>
2016-01-11 22:10:40 <class 'str'>
2016-01-11 22:03:41 <class 'str'>
419 <class 'int'>
2016-02-01 15:56:54 <class 'str'>
2016-02-01 15:47:34 <class 'str'>
560 <class 'int'>
2016-01-01 00:50:24 <class 'str'>
2016-01-01 00:33:52 <class 'str'>
992 <class 'int'>
2016-01-17 16:28:45 <class 'str'>
2016-01-17 16:19:23 <class 'str'>
562 <class 'int'>
2016-06-12 21:49:28 <class 'str'>
2016-06-12 21:42:27 <class 'str'>
421 <class 'int'>
2016-04-03 12:38:16 <class 'str'>
2016-04-03 12:29:56 <class 'str'>
500 <class 'int'>
2016-04-16 23:33:49 <class 'str'>
2016-04-16 23:24:38 <class 'str'>
551 <class 'int'>
2016-01-12 19:09:56 <class 'str'>
2016-01-12 18:45:05 <class 'str'>
1491 <class 'int'>
2016-04-02 07:54:57 <class 'str'>
2016-04-02 07:50:05 <class 'str'>
292 <class 'int'>
2016-04-13 13:50:21 <class 'str'>
2016-04-13 13:06:19 <class 'str'>
2642 <class 'int'>
2016-03-10 23:52:37 <class 'str'>
2016-03-10 23:42:44 <class 'str'>
593 <class 'int'>
2016-05-08 00:20:30 <class 'str'>
2016-05-07 23:40:39 <class 'str'>
2391 <class 'int'>
2016-03-05 18:57:04 <class 'str'>
2016-03-05 18:44:34 <class 'str'>
750 <class 'int'>
2016-02-27 10:13:22 <class 'str'>
2016-02-27 10:06:15 <class 'str'>
427 <class 'int'>
2016-01-07 17:34:49 <class 'str'>
2016-01-07 17:17:30 <class 'str'>
1039 <class 'int'>
2016-03-15 00:53:44 <class 'str'>
2016-03-15 00:25:34 <class 'str'>
1690 <class 'int'>
2016-04-12 17:10:31 <class 'str'>
2016-04-12 16:56:47 <class 'str'>
824 <class 'int'>
2016-06-17 03:12:45 <class 'str'>
2016-06-17 03:05:03 <class 'str'>
462 <class 'int'>
2016-05-07 15:45:56 <class 'str'>
2016-05-07 15:38:41 <class 'str'>
435 <class 'int'>
2016-03-16 18:48:59 <class 'str'>
2016-03-16 18:42:34 <class 'str'>
385 <class 'int'>
2016-01-21 18:41:06 <class 'str'>
2016-01-21 18:32:42 <class 'str'>
504 <class 'int'>
2016-02-26 13:02:40 <class 'str'>
2016-02-26 12:35:14 <class 'str'>
1646 <class 'int'>
2016-04-23 20:55:20 <class 'str'>
2016-04-23 20:39:43 <class 'str'>
937 <class 'int'>
2016-01-18 09:16:58 <class 'str'>
2016-01-18 09:14:01 <class 'str'>
177 <class 'int'>
2016-06-07 08:28:56 <class 'str'>
2016-06-07 08:18:29 <class 'str'>
627 <class 'int'>
2016-01-11 20:31:58 <class 'str'>
2016-01-11 20:18:08 <class 'str'>
830 <class 'int'>
2016-02-04 11:15:28 <class 'str'>
2016-02-04 10:52:40 <class 'str'>
1368 <class 'int'>
2016-04-13 16:48:35 <class 'str'>
2016-04-13 16:40:50 <class 'str'>
465 <class 'int'>
2016-06-01 21:37:35 <class 'str'>
2016-06-01 21:25:28 <class 'str'>
727 <class 'int'>
2016-02-16 19:25:20 <class 'str'>
2016-02-16 19:21:53 <class 'str'>
207 <class 'int'>
2016-05-09 11:42:49 <class 'str'>
2016-05-09 11:36:37 <class 'str'>
372 <class 'int'>
2016-01-04 07:18:18 <class 'str'>
2016-01-04 07:13:27 <class 'str'>
291 <class 'int'>
2016-03-26 02:33:52 <class 'str'>
2016-03-26 02:29:54 <class 'str'>
238 <class 'int'>
2016-06-19 15:06:46 <class 'str'>
2016-06-19 14:50:20 <class 'str'>
986 <class 'int'>
2016-06-22 21:57:57 <class 'str'>
2016-06-22 21:54:23 <class 'str'>
214 <class 'int'>
2016-04-10 20:20:38 <class 'str'>
2016-04-10 20:17:39 <class 'str'>
179 <class 'int'>
2016-02-15 17:04:17 <class 'str'>
2016-02-15 16:50:12 <class 'str'>
845 <class 'int'>
2016-06-30 07:31:56 <class 'str'>
2016-06-30 07:30:02 <class 'str'>
114 <class 'int'>
2016-05-28 17:27:28 <class 'str'>
2016-05-28 17:26:34 <class 'str'>
54 <class 'int'>
2016-05-28 14:05:20 <class 'str'>
2016-05-28 13:53:38 <class 'str'>
702 <class 'int'>
2016-01-03 23:16:31 <class 'str'>
2016-01-03 23:10:10 <class 'str'>
381 <class 'int'>
2016-02-17 11:14:21 <class 'str'>
2016-02-17 11:08:00 <class 'str'>
381 <class 'int'>
2016-06-13 22:13:55 <class 'str'>
2016-06-13 22:03:28 <class 'str'>
627 <class 'int'>
2016-03-03 02:16:19 <class 'str'>
2016-03-03 02:08:22 <class 'str'>
477 <class 'int'>
2016-03-22 07:40:19 <class 'str'>
2016-03-22 07:30:31 <class 'str'>
588 <class 'int'>
2016-02-12 15:12:52 <class 'str'>
2016-02-12 14:58:04 <class 'str'>
888 <class 'int'>
2016-02-14 10:25:57 <class 'str'>
2016-02-14 10:01:51 <class 'str'>
1446 <class 'int'>
2016-04-22 11:08:27 <class 'str'>
2016-04-22 10:06:06 <class 'str'>
3741 <class 'int'>
2016-02-19 20:01:29 <class 'str'>
2016-02-19 19:54:30 <class 'str'>
419 <class 'int'>
2016-03-18 19:31:47 <class 'str'>

KeyboardInterrupt: ignored

In [ ]:
print(train.columns)
print(test.columns)
print(sS.columns)

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag', 'trip_duration'], dtype='object')
Index(['id', 'vendor_id', 'pickup_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag'], dtype='object')
Index(['id', 'trip_duration'], dtype='object')

In [ ]:
test = pd.concat([test, sS['trip_duration']], join='outer', axis=1)

In [ ]:
n=0
for i in train.columns:
  n+=1
print(n)

n=0
for i in test.columns:
  n+=1
print(n)

11
10

In [ ]:
#['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag', 'trip_duration']
all_col_trn = train.columns
all_col_tst = test.columns


for trn_unq, tst_unq in zip(all_col_trn, all_col_tst):
  ntrn = 0
  ntst = 0
  print(f'train {trn_unq} : {train[trn_unq].unique()}')
  for i in train[trn_unq].unique():
    ntrn += 1
  print('-'*250)
  print(f'test {tst_unq} : {test[tst_unq].unique()}')
  for j in test[tst_unq].unique():
    ntst += 1
  print('-'*250)
  print(f'train {trn_unq} : {ntrn}개')
  print(f'test {tst_unq} : {ntst}개')
  print('='*250)

train id : ['id2875421' 'id2377394' 'id3858529' ... 'id2304944' 'id2714485'
 'id1209952']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test id : ['id3004672' 'id3505355' 'id1217141' ... 'id2568735' 'id1384355'
 'id0621643']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train id : 1458644개
test id : 625134개
==========================================================================================================================================================================================================================================================
train vendor_id : [2 1]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test vendor_id : [1 2]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train vendor_id : 2개
test vendor_id : 2개
==========================================================================================================================================================================================================================================================
train pickup_datetime : ['2016-03-14 17:24:55' '2016-06-12 00:43:35' '2016-01-19 11:35:24' ...
 '2016-01-10 07:35:15' '2016-04-22 06:57:41' '2016-01-05 15:56:26']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test pickup_datetime : ['2016-06-30 23:59:58' '2016-06-30 23:59:53' '2016-06-30 23:59:47' ...
 '2016-01-01 00:01:24' '2016-01-01 00:00:28' '2016-01-01 00:00:22']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train pickup_datetime : 1380222개
test pickup_datetime : 610581개
==========================================================================================================================================================================================================================================================
train dropoff_datetime : ['2016-03-14 17:32:30' '2016-06-12 00:54:38' '2016-01-19 12:10:48' ...
 '2016-04-22 07:10:25' '2016-01-05 16:02:39' '2016-04-05 14:47:43']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test passenger_count : [1 2 4 5 3 6 0 9]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train dropoff_datetime : 1380377개
test passenger_count : 8개
==========================================================================================================================================================================================================================================================
train passenger_count : [1 6 4 2 3 5 0 7 9 8]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test pickup_longitude : [-73.98812866 -73.96420288 -73.99743652 ... -73.87021637 -73.87776947
 -73.90257263]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train passenger_count : 10개
test pickup_longitude : 18926개
==========================================================================================================================================================================================================================================================
train pickup_longitude : [-73.98215485 -73.98041534 -73.97902679 ... -73.84746552 -73.89477539
 -73.84131622]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test pickup_latitude : [40.73202896 40.67999268 40.73758316 ... 40.70133972 40.85827637
 40.69030762]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train pickup_longitude : 23047개
test pickup_latitude : 38408개
==========================================================================================================================================================================================================================================================
train pickup_latitude : [40.76793671 40.73856354 40.7639389  ... 40.69665146 40.83586502
 40.82304382]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test dropoff_longitude : [-73.99017334 -73.95980835 -73.98616028 ... -73.82505035 -73.68055725
 -73.85426331]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train pickup_latitude : 45245개
test dropoff_longitude : 26476개
==========================================================================================================================================================================================================================================================
train dropoff_longitude : [-73.96463013 -73.9994812  -74.00533295 ... -73.85946655 -74.04266357
 -73.76462555]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test dropoff_latitude : [40.75667953 40.65540314 40.72952271 ... 40.61813354 40.66318512
 40.89178848]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train dropoff_longitude : 33821개
test dropoff_latitude : 51439개
==========================================================================================================================================================================================================================================================
train dropoff_latitude : [40.76560211 40.73115158 40.71008682 ... 40.65151978 40.64244461
 40.62860489]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test store_and_fwd_flag : ['N' 'Y']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train dropoff_latitude : 62519개
test store_and_fwd_flag : 2개
==========================================================================================================================================================================================================================================================
train store_and_fwd_flag : ['N' 'Y']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
test trip_duration : [959]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
train store_and_fwd_flag : 2개
test trip_duration : 1개
==========================================================================================================================================================================================================================================================

In [ ]:
for trn_unq, tst_unq in zip(all_col_trn, all_col_tst):
  ntrn = 0
  ntst = 0
  for i in train[trn_unq].unique():
    ntrn += 1
  for j in test[tst_unq].unique():
    ntst += 1
  print(f'train {trn_unq} : {ntrn}개')
  print(f'test {tst_unq} : {ntst}개')
  print('='*250)

train id : 1458644개
test id : 625134개
==========================================================================================================================================================================================================================================================
train vendor_id : 2개
test vendor_id : 2개
==========================================================================================================================================================================================================================================================
train pickup_datetime : 1380222개
test pickup_datetime : 610581개
==========================================================================================================================================================================================================================================================
train dropoff_datetime : 1380377개
test passenger_count : 8개
==========================================================================================================================================================================================================================================================
train passenger_count : 10개
test pickup_longitude : 18926개
==========================================================================================================================================================================================================================================================
train pickup_longitude : 23047개
test pickup_latitude : 38408개
==========================================================================================================================================================================================================================================================
train pickup_latitude : 45245개
test dropoff_longitude : 26476개
==========================================================================================================================================================================================================================================================
train dropoff_longitude : 33821개
test dropoff_latitude : 51439개
==========================================================================================================================================================================================================================================================
train dropoff_latitude : 62519개
test store_and_fwd_flag : 2개
==========================================================================================================================================================================================================================================================
train store_and_fwd_flag : 2개
test trip_duration : 1개
==========================================================================================================================================================================================================================================================